@page
@model eInvWorld.Pages.Admin.Notifications.CreateModel
@{
    ViewData["Title"] = "Create Notification Email Template";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Notification.TemplateName"></label>
        <input asp-for="Notification.TemplateName" class="form-control" />
        <span asp-validation-for="Notification.TemplateName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notification.Subject"></label>
        <input asp-for="Notification.Subject" class="form-control" />
        <span asp-validation-for="Notification.Subject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notification.Body" class="control-label"></label>
        <textarea id="notificationBody" asp-for="Notification.Body" class="form-control" placeholder="Enter the notification body here..."></textarea>
        <span asp-validation-for="Notification.Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notification.NotificationType"></label>
        <select asp-for="Notification.NotificationType" class="form-control" asp-items="Model.NotificationTypeOptions">
            <option value="">Select Notification Type</option>
        </select>
        <span asp-validation-for="Notification.NotificationType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Notification.IsActive"></label>
        <input asp-for="Notification.IsActive" type="checkbox" />
        <span asp-validation-for="Notification.IsActive" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>



