@page
@model EINVWORLD.Pages.Error.ForbiddenModel
@{
    Layout = null;
    ViewData["Title"] = "403 Forbidden";
}

<h1 class="text-center text-danger">403 Forbidden</h1>
<p class="text-center">You are not authorized to access this page.</p>
<a href="/" class="btn btn-primary d-block mx-auto mt-3" style="width: max-content;">Go Home</a>