@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="row">
    <div class="col-lg-12">
        <div class="text-center mt-sm-5 mb-4 text-white-50">
            <div>
                <a href="/" class="d-inline-block auth-logo">
                    <img src="~/images/einvworld-logo.png" alt="eInvWorld Logo" style="width: 100px; height: auto;" class="me-2">
                </a>
            </div>
            <p class="mt-3 fs-15 fw-medium">eInvWorld</p>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4 card-bg-fill">
            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Resend Confirmation Email</h5>
                   
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                        <div class="mb-4">
                            <label class="form-label">Enter Your Email Address</label>
                            <input asp-for="Input.Email" type="email" name="email" class="form-control" aria-required="true" placeholder="Enter Email" required>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>

                        <!-- ✅ Include Honeypot & Turnstile -->
                        <partial name="_TurnstilePartial" />

                        <div class="text-center mt-4">
                            <button class="btn btn-success w-100" type="submit">Send Confirmation Email</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
</div>

@* <h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
