@page "/privacy"
@model eInvWorld.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy | eInvWorld";
    ViewData["Description"] = "Learn how eInvWorld handles and protects your personal data. Review our privacy practices and cookie policy in compliance with legal and industry standards.";
    ViewData["Keywords"] = "eInvWorld privacy policy, personal data protection, cookies, user privacy, Malaysia PDPA";
}


<!-- Page Header Start -->

<div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
        <img src="images/header-page.jpg" class="profile-wid-img w-100" alt="">

        <!-- Overlay Content -->
        <div class="overlay-content position-absolute top-50 start-50 translate-middle text-center w-100">
            <!-- Page Title & Breadcrumb -->
            <div class="container">
                <h2 class="text-white fw-bold mb-2">@ViewData["Title"]</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
                        <li class="breadcrumb-item active text-light" aria-current="page">Privacy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Intro 1 Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1>Privacy Policy</h1>

        <div class="row justify-content-center">
            <!-- Center the column in the row -->
            <div class="wow fadeIn" data-wow-delay="0.5s">
                <!-- Center the text -->
                <p>This Privacy Policy sets out how einvworld collects, stores, and handles personal information (as defined below) of individuals. Please read this Privacy Policy to understand how we use the personal information we may collect from you. The explanations provided within this Privacy Policy are for your convenience only and are not legally binding. By providing your Personal Information to us, you are consenting to this Privacy Policy and the collection, use, access, transfer, storage, and processing of your personal information as described in this Privacy Policy.</p>

                <p>In order for us to provide you with our Products and/or Services and to operate in an efficient and effective manner, we need to collect relevant personal information from you. The personal information collected by us may include contact information such as your name, email, company name and details, telephone or mobile phone number, gender, nationality and race, preferred language, etc.</p>

                <p>We have implemented Google Analytics features based on Display Advertising (Google Analytics Demographics and Interest Reporting). We will use the data provided by Google Analytics Demographics and Interest Reporting to develop the site and content around our users' interests. Rest assured, the information we collect and share with third parties through cookies is aggregated and therefore anonymous (it does not include personal information which is likely to identify you). You can access information about Google's Privacy Policy <a href="https://policies.google.com/privacy" target="_blank">here</a>. You can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads using the Ads Settings. In addition, you can use the Google Analytics Opt-Out Browser Add-on to disable tracking by Google Analytics.</p>

                <p>We may collect and use personal information from you or from the above mentioned third parties for one or more of the following purposes:</p>
                <ul>
                    <p><i class="las la-check-circle text-primary me-3"></i>To assess and process your application(s)/request(s) for our Products and/or Services.</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To keep in contact with you and provide you with billing support, enquiries, and any information you have requested.</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To conduct marketing activities (for example, market research).</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>For any other purposes that are required or permitted by any law, regulations, guidelines, and/or relevant regulatory authorities.</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To conduct marketing activities (for example, market research).</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To notify you about benefits and changes to the features of our Products and/or Services via newsletters.</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To notify you about special promotions for our Products.</p>
                    <p><i class="las la-check-circle text-primary me-3"></i>To determine how we can improve services to you.</p>
                </ul>

                <p>Kindly note that you will have options to unsubscribe if you do not wish to receive any email from us.</p>

                <p>Should you have any queries or concerns in relation to this Privacy Policy, kindly contact us.</p>

                <h2>Cookies Policy</h2>

                <p>This site uses cookies – small text files that are placed on your machine to help the site provide a better user experience. In general, cookies are used to retain user preferences, store information for things like shopping carts, and provide anonymized tracking data to third-party applications for analytics purposes. Generally, cookies will make your browsing experience better. However, you may prefer to disable cookies on this site and on others. The most effective way to do this is to disable cookies in your browser. We suggest consulting the Help section of your browser for guidance.</p>

            </div>
        </div>
    </div>
</div>
<!-- Intro 1 End -->

